In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('heart(1).csv')

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [6]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [7]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [8]:
df['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [9]:
col_for_label_encoding=['ExerciseAngina','Sex']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])
df['ExerciseAngina']=le.fit_transform(df['ExerciseAngina'])

In [12]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [13]:
df=pd.get_dummies(data=df,columns=['ChestPainType','RestingECG','ST_Slope'])

In [14]:
df

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,172,0,0.0,0,0,1,0,0,0,1,0,0,0,1
1,49,0,160,180,0,156,0,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,1,130,283,0,98,0,0.0,0,0,1,0,0,0,0,1,0,0,1
3,48,0,138,214,0,108,1,1.5,1,1,0,0,0,0,1,0,0,1,0
4,54,1,150,195,0,122,0,0.0,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,132,0,1.2,1,0,0,0,1,0,1,0,0,1,0
914,68,1,144,193,1,141,0,3.4,1,1,0,0,0,0,1,0,0,1,0
915,57,1,130,131,0,115,1,1.2,1,1,0,0,0,0,1,0,0,1,0
916,57,0,130,236,0,174,0,0.0,1,0,1,0,0,1,0,0,0,1,0
917,38,1,138,175,0,173,0,0.0,0,0,0,1,0,0,1,0,0,0,1

In [15]:
X=df.drop(['Cholesterol'],axis=True).values
X

array([[ 40.,   1., 140., ...,   0.,   0.,   1.],
       [ 49.,   0., 160., ...,   0.,   1.,   0.],
       [ 37.,   1., 130., ...,   0.,   0.,   1.],
       ...,
       [ 57.,   1., 130., ...,   0.,   1.,   0.],
       [ 57.,   0., 130., ...,   0.,   1.,   0.],
       [ 38.,   1., 138., ...,   0.,   0.,   1.]])

In [16]:
Y=df['Cholesterol'].values
Y

array([289, 180, 283, 214, 195, 339, 237, 208, 207, 284, 211, 164, 204,
       234, 211, 273, 196, 201, 248, 267, 223, 184, 201, 288, 215, 209,
       260, 284, 468, 188, 518, 167, 224, 172, 186, 254, 306, 250, 177,
       227, 230, 294, 264, 259, 175, 318, 223, 216, 340, 289, 233, 205,
       224, 245, 180, 194, 270, 213, 365, 342, 253, 254, 224, 277, 202,
       260, 297, 225, 246, 412, 265, 215, 182, 218, 268, 163, 529, 167,
       100, 206, 277, 238, 223, 196, 213, 139, 263, 216, 291, 229, 208,
       307, 210, 329, 182, 263, 207, 147,  85, 269, 275, 179, 392, 466,
       186, 260, 254, 214, 129, 241, 188, 255, 276, 297, 207, 246, 282,
       338, 160, 156, 248, 272, 240, 393, 230, 246, 161, 163, 230, 228,
       292, 202, 388, 230, 294, 265, 215, 241, 166, 247, 331, 341, 291,
       243, 279, 273, 198, 249, 168, 603, 215, 159, 275, 270, 291, 342,
       190, 185, 290, 195, 264, 212, 263, 196, 225, 272, 231, 238, 222,
       179, 243, 235, 320, 187, 266, 288, 216, 287, 194, 238, 225, 224,
       404, 238, 312, 211, 251, 237, 328, 285, 280, 209, 245, 192, 184,
       193, 297, 268, 246, 308, 249, 230, 147, 219, 184, 215, 308, 257,
       132, 216, 263, 288, 276, 219, 226, 237, 280, 217, 196, 263, 222,
       303, 195, 298, 256, 264, 195, 117, 295, 173, 315, 281, 275, 250,
       309, 200, 336, 295, 355, 193, 326, 198, 292, 266, 268, 171, 237,
       275, 219, 341, 491, 260, 292, 271, 248, 274, 394, 160, 200, 320,
       275, 221, 231, 126, 193, 305, 298, 220, 242, 235, 225, 198, 201,
       220, 295, 213, 160, 223, 347, 253, 246, 222, 220, 344, 358, 190,
       169, 181, 308, 166, 211, 257, 182,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
       260, 209, 218, 228, 213,   0, 236,   0,   0, 267, 166,   0,   0,
         0,   0, 220, 177, 236,   0,   0,   0,   0,   0,   0,   0,   0,
         0, 186, 100, 228,   0, 171, 230,   0,   0,   0, 281,   0, 203,
         0,   0,   0,   0,   0, 277,   0, 233,   0,   0, 240,   0,   0,
       153, 224,   0,   0,   0, 316,   0,   0, 218,   0, 311,   0,   0,
         0, 270,   0,   0, 217, 214, 214, 252, 220, 214, 203,   0, 339,
       216, 276, 458, 241, 384, 297, 248, 308, 208, 227, 210, 245, 225,
       240,   0, 198, 195, 267, 161, 258,   0,   0, 195, 235,   0, 305,
       223, 282, 349, 160, 160, 236, 312, 283, 142, 211, 218, 306, 186,
       252, 222,   0,   0, 258, 202, 197, 204, 113, 274, 192, 298, 272,
       220, 200, 261, 181, 260, 220, 221, 216, 175, 219, 310, 208, 232,
       273, 203, 182, 274, 204, 270, 292, 171, 221, 289, 217, 223, 110,
       193, 123, 210, 282, 170, 369, 173, 289, 152, 208, 216, 271, 244,
       285, 243, 240, 219, 237, 165, 213, 287, 258, 256, 186, 264, 185,
       226, 203, 207, 284, 337, 310, 254, 258, 254, 300, 170, 310, 333,
       139, 223, 385, 254, 322, 564, 261, 263, 269, 177, 256, 239, 293,
       407, 234, 226, 235, 234, 303, 149, 311, 203, 211, 199, 229, 245,
       303, 204, 288, 275, 243, 295, 230, 265, 229, 228, 215, 326, 200,
       256, 207, 273, 180, 222, 223, 209, 233, 197, 218, 211, 149, 197,
       246, 225, 315, 205, 417, 195, 234, 198, 166, 178, 249, 281, 126,
       305, 226, 240, 233, 276, 261, 319, 242, 243, 260, 354, 245, 197,
       223, 309, 208, 199, 209, 236, 218, 198, 270, 214, 201, 244, 208,
       270, 306, 243, 221, 330, 266, 206, 212, 275, 302, 234, 313, 244,
       141, 237, 269, 289, 254, 274, 222, 258, 177, 160, 327, 235, 305,
       304, 295, 271, 249, 288, 226, 283, 188, 286, 274, 360, 273, 201,
       267, 196, 201, 230, 269, 212, 226, 246, 232, 177, 277, 249, 210,
       207, 212, 271, 233, 213, 283, 282, 230, 167, 224, 268, 250, 219,
       267, 303, 256, 204, 217, 308, 193, 228, 231, 244, 262, 259, 211,
       325, 254, 197, 236, 282, 234, 254, 299, 211, 182, 294, 298, 231,
       254, 196, 240, 409, 172, 265, 246, 315, 184, 233, 394, 269, 239,
       174, 309, 282, 255, 250, 248, 214, 239, 304, 277, 300, 258, 299,
       289, 298, 318, 240, 309, 250, 288, 245, 213, 216, 204, 204, 252,
       227, 258, 220, 239, 254, 168, 330, 183, 203, 263, 341, 283, 186,
       307, 219, 260, 255, 231, 164, 234, 177, 257, 325, 274, 321, 264,
       268, 308, 253, 248, 269, 185, 282, 188, 219, 290, 175, 212, 302,
       243, 353, 335, 247, 340, 206, 284, 266, 229, 199, 263, 294, 192,
       286, 216, 223, 247, 204, 204, 227, 278, 220, 232, 197, 335, 253,
       205, 192, 203, 318, 225, 220, 221, 240, 212, 342, 169, 187, 197,
       157, 176, 241, 264, 193, 131, 236, 175], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [18]:
X_train.shape

(734, 18)

In [19]:
X_test.shape

(184, 18)

In [20]:
from sklearn.tree import DecisionTreeRegressor

In [21]:
dtr=DecisionTreeRegressor(random_state=0)

In [22]:
dtr.fit(X_train,Y_train)

DecisionTreeRegressor(random_state=0)

In [38]:
dtc_ypred=dtr.predict(X_test)

In [45]:
from sklearn.metrics import r2_score,accuracy_score
r2_score(Y_test,dtc_ypred)

-0.6535121249628852

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(X_train,Y_train)

RandomForestRegressor(random_state=0)

In [27]:
rfr.predict(X_test)

array([169.02, 149.07, 267.07, 264.43,  53.09, 205.14, 241.92, 228.71,
       243.18, 234.82, 242.17, 215.39, 237.27,  91.11, 208.5 , 205.47,
        90.86, 218.49,  84.06, 196.19,  76.68, 241.62, 230.76, 236.42,
       229.61, 222.22, 239.76, 135.16, 226.16, 246.46, 282.73, 211.47,
       230.13, 230.31, 170.7 ,  21.73, 305.58, 196.87, 256.68, 238.29,
       283.01,  67.03, 230.83, 216.93, 237.02, 217.1 , 148.38, 245.88,
       259.47,  13.56, 163.23, 169.6 , 237.03, 245.88,  21.82, 190.19,
       171.85, 220.15, 234.32, 157.08,  48.81, 273.39, 206.34, 205.42,
       249.66, 170.62, 226.33, 147.54, 260.19, 249.19,  21.13, 223.81,
       103.41, 188.63, 236.47, 107.68, 234.55, 107.47, 221.03, 149.98,
        84.16, 241.43, 251.59, 295.59,  85.8 , 225.44, 272.51, 249.48,
       248.77, 192.89, 270.93, 223.67, 216.76,  39.62, 198.69, 149.06,
       257.3 , 171.21, 188.69, 242.35, 203.89, 211.59, 165.96, 159.96,
       257.58,  91.08, 230.57, 205.56, 112.89, 253.76, 242.97, 238.92,
       253.52, 229.73, 272.47, 236.47, 141.25, 227.75, 236.65, 201.27,
       211.5 , 189.73, 256.95, 284.4 , 197.23, 161.62, 252.17, 227.26,
       229.2 , 215.46, 227.06, 178.19, 245.63, 255.64, 183.18,  23.29,
       102.87, 210.14, 235.52, 251.22, 222.  , 207.8 , 246.86, 249.28,
       127.38, 223.49, 188.73, 187.81, 192.55, 189.02, 224.71, 191.67,
       227.17, 265.83, 266.24, 228.49, 191.2 , 221.73, 231.58, 234.14,
       141.3 ,  12.81, 234.6 , 168.18, 184.7 , 207.62, 279.39, 285.65,
       111.01, 210.03, 225.83, 148.61, 231.88, 210.11, 180.8 ,  91.56,
       221.28, 300.85, 102.36, 168.19, 229.12, 258.84, 211.91, 206.46])

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
reg=LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [46]:
y_pred=reg.predict(X_test)

In [47]:
r2_score(Y_test,y_pred)

0.023559958601390485

In [32]:
from sklearn.preprocessing import PolynomialFeatures

In [33]:
poly=PolynomialFeatures(degree=5)
X_poly=poly.fit_transform(X_train)
p_reg=LinearRegression()
p_reg.fit(X_poly,Y_train)

LinearRegression()

In [48]:
poly_ypred=p_reg.predict(poly.fit_transform(X_test))

In [49]:
r2_score(Y_test,poly_ypred)

-5821065.144427209

In [35]:
from sklearn.svm import SVR
sv=SVR(kernel='rbf')
Sreg=LinearRegression()
Sreg.fit(X_train,Y_train)

LinearRegression()

In [50]:
S_ypred=Sreg.predict(X_test)

In [51]:
r2_score(Y_test,S_ypred)

0.023559958601390485